<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capitals</title>
    <link rel="stylesheet" href="/css/capitals_course.css">
</head>
<body>
    <h1>World Capitals</h1>
    
    <a href="http://localhost:<%= port_gateway %>/exam/capitals-exam" class="test-button">Test your knowledge!</a>
    <div class="container">
        <% capitals.forEach(({ country, capital, flagUrl }) => { %>
            <div class="card">
                <img src="<%= flagUrl %>" alt="Flag of <%= country %>">
                <div class="info">
                    <h3><%= capital %></h3>
                    <p><%= country %></p>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>
